/* font  */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Merriweather&display=swap');

/* display  */
body{
    font-family: 'Merriweather', serif;
}
.display{
    margin-top: 80px;
    margin-left: 100px;
}

/* nav */

nav h3{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 60px;
    font-family: 'Heebo', sans-serif;

}

/*----------
    header
  ---------- */

header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.header-text{
    width: 72%;
    margin-top: 50px;
    
}
.main-cemera{
    width: 81%;
    padding-bottom: 10px;
}
.main-cemera:hover{
    transform: scale(1.25);
    transition: transform 1.2s;

}
.header-h1{
    font-size: 44px;
    font-family: 'Heebo', sans-serif;
}
.ancohor-button{
    color: white;
    background-image: linear-gradient(#DB0B5F ,#6F00ED);
    width: 31%;
    border-radius: 11px;
    padding: 7px;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.ancohor-button:hover{
    transform: scale(1.15);
}
.button-text{
    color: white;
}
.fa-arrow-right{
    margin-left: 2px;
}

/*--------------------------
   Popular Collection section
   ---------------------------*/

.section-collection{
    margin: 117px;
}

.all-collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
}
.collection-h2{
    text-align: center;
    margin-bottom: 57px;
    font-family: 'Heebo', sans-serif;

}
.collection{
    width: 85%;
    margin: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 6px rgb(209, 208, 208);
}
.collection-img{
    width: 100%;
}
.fa-star{
    color: gold;
}
.collection-end-text{
    color: linear-gradient(#DB0B5F ,#6F00ED);
    font-weight: 700;
    text-align: end;
}
.last-button{
    width: 90px;
}


/* ------------------
    showroom section
    ------------------*/

.showroom-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr );
        margin-bottom: 91px;
    }
.showroom-img{
    width: 65%;
    margin-left: 100px;
    border-radius: 10px;
    margin-top: 31px;
}

.showroom-text{
    width: 66%;
}

/*--------------
     footer
  --------------- */
footer{
    background-color: #0A0826;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 27px;
    
}
.fab{
    padding: 3px;
}
.footer-text{
    font-size: 28px;
}
footer p{
    font-size: 10px;
}